* {
  margin: 0;
  padding: 0;
}

.login-bck {
  height: 100vh;
  position: relative;
  background: url('../img/back4.png') no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 350px;
  height: 400px;
  position: absolute;
  background: inherit;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before {
    width: 400px;
    height: 450px;
    content: '';
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur(10px);
  }

  .form {
    width: 90%;
    height: 90%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > h2 {
      color: white;
      font-weight: 300;
      font-size: 30px;
    }

    & > .login_button {
      margin: 25px 0 0 0;
      @include font('light');
    }

    & > .isEnabled {
      background-color: #df2359;
      color: white;
      border: 0;
    }
  }
}
