@font-face {
  font-family: qs_light;
  src: url(../fonts/Quicksand/Quicksand-Light.ttf);
}

@font-face {
  font-family: qs_regular;
  src: url(../fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: qs_medium;
  src: url(../fonts/Quicksand/Quicksand-Medium.ttf);
}

@font-face {
  font-family: qs_bold;
  src: url(../fonts/Quicksand/Quicksand-Bold.ttf);
}

$primary-color: #013165;
$font-color: #f9fbfd;
